.design {
  border: 1px dotted black;
}

.card-body {
  padding: 10px 0 10px 10px !important;
}
.card-img {
  border-radius: 20px 20px 0 0 !important;
}
.btn {
  background-color: none;
}
.btm{
 margin-bottom: 3%;
}
.det {
  background-color: none !important;
}
.slct {
  width: 100px;
  height: 60px;
  font-size: 13px;
  margin-right: 8px;
  margin-left: 5px;
}
.prch {
  width: 298.5px;
  font-size: 13px;
}
.ptext {
  margin-left: 5px;
}

.slct-description{
  height: 60px;
}
