.design{
    border: 1px dotted black;
}

.card-body{
    padding: 10px 0 10px 10px !important;
}
.card-img{
    border-radius: 20px 20px 0 0 !important;
}
.btn{
    background-color: none;
    
}
.det{
    background-color: none !important;
}
.search{
  
}